---
class: splash-page
title: 150 Years of Building Commerce
description: As we mark the 150th anniversary of the bank, we have selected some of the important milestones we have passed along the way to reflect on both the work and the sustained values that have built the Commerce Bank of today.
---
  
  
  
extends ../layout/global

block seo
  title= title
  meta(name="description" content="#{description}")


block content
  
  .banner-splash

  main.main
    .main__content--col-8-12
      h1.main__heading 150 Years of 
        span Building Commerce
      
      p Commerce Bank’s history stretches back to the time when the Amrican heartland was being opened for settlement and development, following the introduction of railroads and the end of the Civil War. Our story over the past 15 decades is how the people who have worked for this enterprise have served their customers, shown leadership in their communities and helped this region grow and prosper.
      
      p Commerce Bank’s history stretches back to the time when the Amrican heartland was being opened for settlement and development, following the introduction of railroads and the end of the Civil War. Our story over the past 15 decades is how the people who have worked for this enterprise have served their customers, shown leadership in their communities and helped this region grow and prosper.
      
      p We have come a long way together. In 1865, Francis Long started the predecessor to our bank in Kansas City, Missouri, with $10,000 in capital. Commerce today remains an independent company and, built on traditions of financial strength, community orientation and innovation, is often named among the industry’s best.
      
      p As we mark the 150th anniversary of the bank, we have selected some of the important milestones we have passed along the way to reflect on both the work and the sustained values that have built the Commerce Bank of today.
      
      p We hope you will enjoy the brief summary of our history in the timeline which follows, and encourage you to read the fuller history available online as a downloadable PDF.
      
      p
        a.main__button(href="timeline.pdf", download) Download Timeline
        
      p
        a.main__button(href="timeline.html") Visit Timeline site  
